<table>
  <tbody>
  <%= link_to 'New', new_todo_list_path %>
  <% @list.each do |list| %>
    <tr>
      <td> <%= list.title %> </td>
      <td> <%= list.description %> </td>
      <td><%= link_to 'Show', list %></td>
    </tr>
  <% end %>
  </tbody>
</table>